{% extends 'base.html' %}

{% block content %}
<h2>Paid Orders</h2>
<a href="/">Home</a> &nbsp; &nbsp; &nbsp;<a href="{% url 'orders' %}">View Cart</a><br><br>
{%if obj%}
<table border="1px" cellspacing="0">
<tr>
    <th>S/N</th>
    <th>Product</th>
    <th>Quantity</th>
    <th>Price</th>
    <th>Date</th>
    <th>Action</th>
</tr>
{% for ob in obj %}
<tr>
    <td>{{forloop.counter}}</td>
    <td><a href="{% url 'detail' ob.product.pk %}">{{ob.product}}</a></td>
    <td>{{ob.quantity}}</td>
    <td>NGN {{ob.get_price}}</td>
    <td>{{ob.date_ordered}}</td>
    <td><a href="{% url 'query' ob.pk %}">Query Transaction</a></td>
</tr>
{%endfor%}
</table>
{%else%}
<p>No Paid Order at the moment</p>
{%endif%}
{% endblock %}
