{% extends 'base.html' %}

{% block content %}
    <a href="/">Back</a>
    <h2>{{obj.name}}</h2>
    Category: <a href="{% url 'category' obj.category %}">{{obj.category}}</a> &nbsp; &nbsp; <span style="font-weight: bolder; font-size: 25px;">${{obj.price}}</span><br><br>
    <img src="{{obj.image.url}}" style="height: 200px; width: 200px;"><br><br>
    <p>Description: {{obj.description}}</p>
    <p>Search Tags: {{obj.search_tag1}} {% if obj.search_tag2 %}&nbsp; &nbsp; {{obj.search_tag2}} {% endif %} {% if obj.search_tag3 %}&nbsp; &nbsp; {{obj.search_tag3}}{% endif %}</p>
    <a href="{% url 'addorder' obj.name %}">Add to Cart</a><br><br>
    Likes: {{obj.number_of_likes}}<br><br>
    <form method="POST" action="{% url 'like' obj.pk %}">
        {% csrf_token %}
        {% if liked %}
            <button type="submit" name="obj_pk" value="{{obj.pk}}">Unlike</button>
        {% else %}
            <button type="submit" name="obj_pk" value="{{obj.pk}}">Like</button>
        {% endif %}
    </form><br><hr><br>
    <h2>Product Reviews({{data_c}})</h2><a href="{% url 'addreview' obj.pk %}">add review</a><br><br>
    {% for data in data %}
    {{forloop.counter}} - By <b>{{data.buyer}}</b>
    <p>&nbsp; &nbsp; &nbsp; {{data.review}}</p><br>
    {%empty%}
    <p>No reviews on this product</p>
    {%endfor%}
{% endblock %}
